$ng-keyboard-arrow-down: "\e908";
$ng-keyboard-arrow-left: "\e909";
$ng-keyboard-arrow-right: "\e90a";
$ng-keyboard-arrow-up: "\e90b";
$ng-Invite: "\e906";
$ng-edit: "\e900";
$ng-sort: "\e907";
$ng-phone: "\e901";
$ng-check-circle-outline: "\e902";
$ng-group: "\e903";
$ng-laptop: "\e904";
$ng-tablet: "\e905";
$ng-arrow-drop-right: "\e61d";
$ng-add: "\e600";
$ng-arrow-back: "\e601";
$ng-arrow-drop-up: "\e602";
$ng-arrow-forward: "\e603";
$ng-check-box: "\e604";
$ng-check: "\e605";
$ng-clear: "\e606";
$ng-credit-card: "\e607";
$ng-delete: "\e608";
$ng-drive-ms-powerpointcopy: "\e609";
$ng-error: "\e60a";
$ng-event: "\e60b";
$ng-filter: "\e60c";
$ng-headset-mic: "\e60d";
$ng-help: "\e60e";
$ng-mail: "\e60f";
$ng-menu: "\e610";
$ng-more-horiz: "\e611";
$ng-more-vert: "\e612";
$ng-news: "\e613";
$ng-remove: "\e614";
$ng-reply: "\e615";
$ng-search: "\e616";
$ng-send: "\e617";
$ng-settings: "\e618";
$ng-sms: "\e61b";
$ng-warning: "\e61c";
