$ng-drive-document: "\e61e";
$ng-drive-drawing: "\e61f";
$ng-arrow-drop-right: "\e61d";
$ng-add: "\e600";
$ng-arrow-back: "\e601";
$ng-arrow-drop-up: "\e602";
$ng-arrow-forward: "\e603";
$ng-check-box: "\e604";
$ng-check: "\e605";
$ng-clear: "\e606";
$ng-credit-card: "\e607";
$ng-delete: "\e608";
$ng-drive-ms-powerpointcopy: "\e609";
$ng-error: "\e60a";
$ng-event: "\e60b";
$ng-filter: "\e60c";
$ng-headset-mic: "\e60d";
$ng-help: "\e60e";
$ng-mail: "\e60f";
$ng-menu: "\e610";
$ng-more-horiz: "\e611";
$ng-more-vert: "\e612";
$ng-news: "\e613";
$ng-remove: "\e614";
$ng-reply: "\e615";
$ng-search: "\e616";
$ng-send: "\e617";
$ng-settings: "\e618";
$ng-shopping-basket: "\e619";
$ng-shopping-cart: "\e61a";
$ng-sms: "\e61b";
$ng-warning: "\e61c";
